<% if !article.published && current_user.try(:admin) %>
	<dl class="individual-article unpublished">
		<dt><%= article.title %> <%= time_ago_in_words(article.created_at) %> ago
		<% if current_user.try(:admin) %>
			| <span class="admin-edit"><%= link_to 'Edit', edit_article_path(article) %></span>
		<% end %><br> 
		<span class="article-tags">
			<%= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></span>
		</dt>
		<dd><%= truncate(article.body.html_safe, length: 200) %>
			<%= link_to 'more', article_path(article) %>
		</dd>
	</dl>
<% end %>

<% if article.published %>
	<dl class="individual-article">
		<dt><%= article.title %> 
		<% if current_user.try(:admin) %>
			| <span class="admin-edit"><%= link_to 'Edit', edit_article_path(article) %></span>
		<% end %><br> 
		<span class="article-tags">
			<%= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></span>
		</dt>
		<dd><%= truncate(article.body.html_safe, length: 200) %>
			<%= link_to 'more', article_path(article) %>
		</dd>
	</dl>
<% end %>

