<h2 class="text-center">Edit</h2>

<%= form_for :article, url: articles_path do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>

  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.cktext_area :body, id: "editor" %>
  </p>
  
  <p>
    <%= f.submit class: "button" %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path, class: "button" %>

