<%= form_for :article, url: articles_path do |f| %>
  <%= render "layouts/errors", :object => @article %>

  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>

  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.cktext_area :body, id: "editor" %>
  </p>
  
  <p>
    <%= f.submit class: "button" %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path, class: "button" %>

