<% provide(:title, @article.title) %>

<% if @article.image_url? %>
<div data-interchange="[<%= @article.image_url %>, (small)], [<%= @article.image_url %>, (medium)], [<%= @article.image_url %>, (large)]">
  <div data-alert class="alert-box secondary radius">
    This is the default content.
    <a href="#" class="close">&times;</a>
  </div>
</div>
<% end %> 

<h1><%= @article.title %></h1>
<process.stdin

<div class="article-body">
	<p><%= @article.body %></p>
</div>