<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to 'Tk', root_url, id: 'logo' %></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

  <section class="top-bar-section">
  	<ul class="right">
  		<% if !user_signed_in? %>
    		<li class="active has-form"><%= link_to 'Login', new_user_session_path, class: "button" %></li>
    	<% end %>
    	<% if current_user.try(:admin) %>
    		<li class="has-form"><%= link_to 'New Article', new_article_path, class: "button" %></li>
        <li class="has-form"><%= link_to 'Unpublished Articles', unpublished_path, class: "button" %></li>
    	<% end %>
    	<% if user_signed_in? %>
    		<li class="has-form"><%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "button" %></li>
    	<% end %>
  	</ul>
	</section>
</nav>



