<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div id="flash-msg" class="alert-box <%= key %>"><%= value %></div>
    <% end %>

  	<%= render 'layouts/header' %>

  	<div id="main-content" class="row"> 
    	<%= yield %>
    </div>

  </body>
</html>
